click==8.3.1
darkdetect==0.8.0
dotenv==0.9.9
inquirerpy==0.3.4
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
pfzy==0.3.4
prompt_toolkit==3.0.52
pydotenv==0.0.7
Pygments==2.19.2
python-dotenv==1.2.1
rich==14.2.0
shellingham==1.5.4
typer==0.21.0
typing_extensions==4.15.0
wcwidth==0.2.14
